html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid lightgreen;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-top: 40px;
  margin-right: 40px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.menuItem:hover {
  color: lightgreen;
  transition: all 0.3s ease-in;
}

.slider {
  background: url('https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80')
    no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  position: absolute;
  width: 750px;
  height: 750px;
  border-radius: 50%;
  background-color: lightgreen;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 40%;
  right: 13%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border-bottom: 1px solid lightgreen;
  z-index: 1;
}

.buyButton {
  position: absolute;
  color: lightgreen;
  background-color: white;
  top: 60%;
  right: 14%;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: lightgreen;
  color: black;
  transition: all 0.3s ease-in;
}

/*  */
.sliderItem:nth-child(1) .sliderBg {
  background-color: lightgreen;
}

.sliderItem:nth-child(1) .sliderPrice {
  border-bottom: 1px solid lightgreen;
}

/*  */
.sliderItem:nth-child(2) .sliderBg {
  background-color: darkred;
}

.sliderItem:nth-child(2) .sliderPrice {
  border-bottom: 1px solid darkred;
}

/*  */
.sliderItem:nth-child(3) .sliderBg {
  background-color: darkorange;
}

.sliderItem:nth-child(3) .sliderPrice {
  border-bottom: 1px solid darkorange;
}

/*  */
.sliderItem:nth-child(4) .sliderBg {
  background-color: darksalmon;
}

.sliderItem:nth-child(4) .sliderPrice {
  border-bottom: 1px solid darksalmon;
}

/*  */
.sliderItem:nth-child(5) .sliderBg {
  background-color: pink;
}

.sliderItem:nth-child(5) .sliderPrice {
  border-bottom: 1px solid pink;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature {
  background-color: whitesmoke;
  padding: 20px 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.payment {
  position: absolute;
  width: 500px;
  height: 600px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.payTitle {
  font-size: 20px;
  color: #a9a9a9;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: lightgray;
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.payInput.sm {
  width: 30%;
  margin: 5px 5px;
}

.productImg {
  width: 50%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: 20px;
  left: 240px;
  padding: 10px 30px;
  border-radius: 10px;
  /* border: 1px solid #333; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}

.close {
  width: 30px;
  height: 25px;
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
}

.productDetails {
  position: absolute;
  top: 25%;
  right: 2%;
  width: 40%;
  padding: 50px;
  /* background-color: lightgreen;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
}

.size:hover {
  background-color: lightgreen;
  border: none;
  transition: all 0.3s ease-in;
}

.productButton {
  color: lightgreen;
  background-color: #333;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.newSeason {
  display: flex;
}

.nwsItem {
  flex: 1;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nwsImg {
  width: 100%;
  height: 800px;
}

.nwsTitle {
  font-size: 40px;
  margin: 30px auto;
}

.nwsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  box-shadow: #e2e2e273 0px 25px 20px -20px;
  margin-top: 20px;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footerMenuTitle {
  font-size: 16px;
}

.footerList {
  padding: 0;
  list-style: none;
}

.footerListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerInput {
  padding: 5px;
}

.footerButton {
  padding: 7px 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.footerIcons {
  display: flex;
}

.footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.footerIcon:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}
